.wrap-movies{
  /* border: solid red; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 5px;
}
.myfavorites-Title{
  margin-left: 20px;
  font-family: monospace;
  font-size: 30px;
}
@media screen and (min-width:800px)
{
  .wrap-movies{
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding-left: 5px; */
  }
}