.container{
    margin-right: 50px;
}
.movies{
    width: 290px;
    height: 100%;
    border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poster-wrap{
    text-align: center;
}
.poster{
    width: 60%;
    text-align: center;
    /* border: solid red; */
    text-align: center;
}

.title{
    text-align: center;
}
.infos{
    display: flex;
    justify-content: space-around;
}

.add-remove-wrap
{
    text-align: center;
    font-size: 17px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-remove-wrap:hover{
    color: blueviolet;
    transition: 2s;
}
.fa-heart{
    color: red;
    margin-left: 5px;
}
.fa-remove{
    margin-left: 5px;
}

@media screen and (min-width:800px)
{
    .add-remove-wrap
    {
      
      margin-bottom: 30px;
    }
    .poster{
        width: 60%;
    }
    .add-remove-wrap
    {
        width: 100%;
    }
}
