/* .scrool
{
overflow-x : scroll;
border : none;
height : 85vh; 
display:flex;
align-items: center;
} */
@media screen and (max-width:800px)
{
    .scrool
    {
    overflow-x : scroll;
    border : none;
    height : 85vh; 
    display:flex;
    align-items: center;
    }
}

@media screen and (min-width:800px)
{
    .scrool
    {
   
    /* display:flex; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* border: red solid; */
    }
}